<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safet.admin.bustrackeradmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.safet.admin.bustrackeradmin.Assigned_Children"
            android:parentActivityName="com.safet.admin.bustrackeradmin.MapsActivity">

        </activity>
        <activity android:name="com.safet.admin.bustrackeradmin.Driver_Messages_Activity"
            android:parentActivityName="com.safet.admin.bustrackeradmin.MapsActivity">

        </activity>
        <activity android:name="com.safet.admin.bustrackeradmin.Messages_Activity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Edit_Images"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_Profile" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Edit_Facility"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_Profile" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Circulate_Message"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.All_children"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Alerts"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.AllBuses"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Add_Parent"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Registered_Parents" />
        <activity android:name="com.safet.admin.bustrackeradmin.Parent_Details" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Registered_Parents"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Add_driver"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Driver_Details" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Driver_Details"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Registered_Drivers" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Registered_Drivers"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Login_Selector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Admin_Profile"
            android:parentActivityName="com.safet.admin.bustrackeradmin.Admin_MainActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Verify_School"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.RegisterSchool"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Admin_Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Notifications"
            android:parentActivityName="com.safet.admin.bustrackeradmin.MapsActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Driver_Profile"
            android:parentActivityName="com.safet.admin.bustrackeradmin.MapsActivity" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Driver_Verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Enter_phone_number"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.safet.admin.bustrackeradmin.Phone_number_Verification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.safet.admin.bustrackeradmin.Driver_Login" />
        <activity android:name="com.safet.admin.bustrackeradmin.MapsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.safet.admin.bustrackeradmin.Admin_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>